---
Title: Cake.CodeAnalysisReporting
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        The Code Analysis Reporting Addin for <a href="http://cakebuild.net/">Cake</a> allows you to generated reports from code analysis logs.
    </p>
</div>